.alert-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX((-50%));
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 199);
    border-top: 2px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-family: "roboto", sans-serif;
    text-align: center;
    transition: 1s;
  }
  