.name {
  margin-top: 194px;
  margin-right: 360px;
}
.abc {
  margin-right: 719px;
  margin-top: 11px;
}
.birth {
  margin-top: -25px;
}
.birthdate {
  margin-right: 75px;
}
.age {
  margin-right: 450px;
}
.box {
  margin-top: 80px;
}
.lclass {
  margin-right: 3px;
}
.lperiod {
  margin-right: 2px;
}
.lfrom {
  margin-right: 10px;
}
.lto {
  margin-right: 57px;
}
.rclass {
  margin-right: 69px;
}
.rto {
  margin-right: 265px;
}
.rfrom {
  margin-right: 80px;
}
.rperiod {
  margin-right: 50px;
}
.prevfrom {
  margin-right: 80.5px;
}
.prvticketno {
  margin-right: 57px;
}
.prvclass {
  margin-right: 272px;
}
.enddate {
  margin-right: 498px;
}
.prevto {
  margin-right: 410px;
}

.lprevticketno {
  margin-top: 8px;
  margin-right: 706px;
}
.lprevenddate {
  margin-top: 25px;
  margin-right: 700px;
}
